In [13]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

plt.rcParams['pdf.fonttype'] = 42
plt.rcParams['ps.fonttype'] = 42

Data source:
Mean and median income by age and sex - EU-SILC survey [ilc_di03]

Last update: 30-05-2017

http://ec.europa.eu/eurostat/en/web/products-datasets/-/ILC_DI03

Sex: Total

Age: Total

Indicator: Median equivalized income in Euro

Year: 2015 (2016 not yet available for many countries)

In [14]:
df = pd.read_csv("ilc_di03_1_Data-2017-06-14.csv")

In [15]:
# select age total
df = df[df["AGE"]=="Total"]

In [16]:
# select relevant columns
df = df[["GEO", "Value"]]

In [17]:
def float_conversion(value_str):
    try:
        value=float(value_str.replace(",",""))
        return value
    except:
        pass

In [19]:
# convert values to actual float
df["Median_income"]=df["Value"].apply(float_conversion)

In [20]:
# select relevant columns
df=df[["GEO", "Median_income"]]

In [22]:
# calculate the "at risk of poverty" threshold
df["poverty_theshold"]= df["Median_income"]*0.6

In [23]:
# calculate the middle class threshold
df["middle_class_threshold"]= df["Median_income"] *0.7

In [24]:
# calculate the upper class threshold
df["upper_class_threshold"]=df["Median_income"]*1.5

In [26]:
# inspect values
df.describe()

,Median_income,poverty_theshold,middle_class_threshold,upper_class_threshold
count,32.000000,32.000000,32.000000,32.000000
mean,16409.687500,9845.812500,11486.781250,24614.531250
std,10594.920421,6356.952253,7416.444295,15892.380632
min,2315.000000,1389.000000,1620.500000,3472.500000
25%,7299.750000,4379.850000,5109.825000,10949.625000
50%,14819.500000,8891.700000,10373.650000,22229.250000
75%,22081.000000,13248.600000,15456.700000,33121.500000
max,41483.000000,24889.800000,29038.100000,62224.500000

In [30]:
df.sort_values(by="upper_class_threshold")

,GEO,Median_income,poverty_theshold,middle_class_threshold,upper_class_threshold
675,Romania,2315.0,1389.0,1620.5,3472.5
50,Bulgaria,3332.0,1999.2,2332.4,4998.0
375,Hungary,4556.0,2733.6,3189.2,6834.0
475,Lithuania,5180.0,3108.0,3626.0,7770.0
350,Croatia,5453.0,3271.8,3817.1,8179.5
625,Poland,5556.0,3333.6,3889.2,8334.0
525,Latvia,5828.0,3496.8,4079.6,8742.0
750,Slovakia,6930.0,4158.0,4851.0,10395.0
125,Czech Republic,7423.0,4453.8,5196.1,11134.5
225,Greece,7520.0,4512.0,5264.0,11280.0
200,Estonia,7889.0,4733.4,5522.3,11833.5
650,Portugal,8435.0,5061.0,5904.5,12652.5
725,Slovenia,12332.0,7399.2,8632.4,18498.0
250,Spain,13352.0,8011.2,9346.4,20028.0
550,Malta,13493.0,8095.8,9445.1,20239.5
100,Cyprus,13793.0,8275.8,9655.1,20689.5
450,Italy,15846.0,9507.6,11092.2,23769.0
275,European Union (28 countries),16153.0,9691.8,11307.1,24229.5
150,Germany (until 1990 former territory of the FRG),20668.0,12400.8,14467.6,31002.0
775,United Kingdom,20945.0,12567.0,14661.5,31417.5
575,Netherlands,21292.0,12775.2,14904.4,31938.0
325,France,21415.0,12849.0,14990.5,32122.5
25,Belgium,21654.0,12992.4,15157.8,32481.0
400,Ireland,21688.0,13012.8,15181.6,32532.0
0,Austria,23260.0,13956.0,16282.0,34890.0
425,Iceland,23696.0,14217.6,16587.2,35544.0
300,Finland,23763.0,14257.8,16634.1,35644.5
700,Sweden,26640.0,15984.0,18648.0,39960.0
175,Denmark,28364.0,17018.4,19854.8,42546.0
500,Luxembourg,35270.0,21162.0,24689.0,52905.0
75,Switzerland,39586.0,23751.6,27710.2,59379.0
600,Norway,41483.0,24889.8,29038.1,62224.5

In [32]:
#save sorted table into csv for further d3 work
df.sort_values(by="upper_class_threshold").to_csv("income_threshold_sorted.csv")